* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Avenir-Black', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    /*background-color: whitesmoke;*/
    background-color: white;
    color: black;
}

nav {
    display: flex;
    /*background-color: red;*/
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    padding-top: 5px;
}

#logo-image {
    height: 10vh;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px -3px rgba(0,0,0,1);
}

.logo {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    padding: 10px;
}

.logo-text {
    font-size: 30;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
    padding: 10px;
    /*border-radius: 20px;*/
    transition: .3s;
}

.nav-links a {
    text-decoration: none;
    display: block;
    color: black;
    /*background-color: red;*/
    /*
    padding: 10px;
    background-color: orange;
    */
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:  black;
    margin: 5px;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.green-container {
    background: rgb(255,255,255);
    background: linear-gradient(356deg, rgba(255,255,255,1) 24%, rgba(151,244,198,1) 62%);
    /*background-color: #97F4C6;*/
    height: 60vh;
}
.white-container-skew {
    background-color: white;
    height: 30vh;
    transform: skew(0, -10deg);
    margin-top: -15%;
    margin-bottom: 10vh;
    z-index: 1;
    position: relative;
}

#title-block {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 7;
}
.title-text {
    font-size: 10vh;
}

.sub-title-text {
    margin-left: 10px;
}

.green-container-skew {
    background-color: #97F4C6;
    height: 50vh;
    transform: skew(0, -15deg);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20vh;
    z-index: 7;
    position: relative;
}

.howto {
    width: 80%;
    display: flex;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #97f4c6;
    padding: 5% 0;
    margin: 5% 0;
}

.row {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-evenly;
    width: 100%;
}

img.screenshot {
    height: auto;
    width: 20vw;
    border-radius: 5px;
    box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.37);
}

.image-card {
    width: 25vw;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 30px -3px rgba(151,244,198,0.37);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-card-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: auto;
    text-align: center;
}

.card {
    width: 50vw;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 30px -3px rgba(151,244,198,0.37);
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.card-text {
    margin: 10px 0;
}

.gray-container {
    background-color: #f8f9fa;
    height: 20vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    min-height: 30vh;
}
/* #CBFAE3 */

footer a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    body {
        /* cant scroll to see hidden menu */
        overflow-x: hidden;
    }
    
    img.screenshot {
        height: 70vh;
        width: auto;
    }

    .image-card {
        width: 80vw;
        flex-direction: row;
        margin-bottom: 5%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 420px) {
    .nav-links {
        width: 50vw;
        flex-direction: column;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.37);
        right: 10px;
        top: 10vh;
        /* moves off the screen */
        transform: scale(0,0);
        transition: transform 0.2s ease-in;
    }

    .logo-text {
        font-size: 20;
    }

    .nav-links li {
        transform: scale(0,0);
    }
    .burger {
        display: block;
        cursor: pointer;
    }

    .white-container-skew {
        display: none;
    }

    .green-container {
        height: auto;
        background: #97f4c6;
        margin: 0;
    }

    #title-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background: linear-gradient(356deg, rgba(255,255,255,1) 24%, rgba(151,244,198,1) 62%);
        z-index: 7;
        padding: 15px;
    }

    .title-text {
        font-size: 10vh;
        text-align: center;
    }

    .sub-title-text {
        margin: 20px 0;
        text-align: center;
        border-left-style: solid;
        border-color: #97f4c6;
        border-left-width: 2px;
        /*border-radius: 20px;*/
        padding: 10px;
    }

    img.screenshot {
        height: auto;
        width: 40vw;
    }

    .image-card {
        width: 90vw;
        flex-direction: row;
        margin-bottom: 20%;
    }

    .card {
        width: 90vw;
        height: auto;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 10px 30px -3px rgba(151,244,198,0.37);
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin: 20% 0;
    }
}

/* nav related animations*/
.nav-active {
    transform: scale(1,1);
    z-index: 20;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: scale(0,0);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
}

.toggle .line1 {
    /* vertical , horizontal*/
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* end nav related */